@CHARSET "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, a, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input[type="text"], input[type="password"], textarea, button, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none outside none;
}
:focus, *:active {
    outline: 0 none;
}
input, select {
    vertical-align: middle;
}
select {
    margin: 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clear {
    clear: both;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
:first-child + html .clearfix {
    display: block;
}
body, input, select, textarea, button {
    font: 13px "Droid Sans","Helvetica Neue",Helvetica,sans-serif;
}
body {
    background: none repeat scroll 0 0 #060606;
    color: #FFFFFF;
}
a {
    color: #FED327;
    text-decoration: none;
}
.contentWrapper a {
    color: #E0B301;
}
a:hover {
    text-decoration: underline;
}
p {
    line-height: 22px;
}
p.heading {
    margin-top: 40px;
}
p.text {
    margin-top: 8px;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-top: 40px;
}
h1 {
    font-size: 24px;
    letter-spacing: -1px;
    line-height: 30px;
}
h2 {
    font-size: 20px;
    line-height: 26px;
}
h3 {
    font-size: 18px;
    line-height: 24px;
}
h4 {
    font-size: 16px;
    line-height: 22px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
h1 span, h2 span, h3 span, h4 span, h5 span {
    font-weight: normal;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.noPadding {
    padding: 0 !important;
}
.noMargin {
    margin: 0 !important;
}
.marginTop {
    margin-top: 40px !important;
}
.paddingTop {
    padding-top: 40px !important;
}
.marginTopSmall {
    margin-top: 8px !important;
}
.paddingTopSmall {
    padding-top: 8px !important;
}
div.center {
    margin: 0 auto;
    width: 960px;
}

.tableWrapper {
	overflow:hidden;
	margin-top:40px;
	background:#fff url(../img/layout/innerShadowBottom.png) left bottom repeat-x;
	border:1px solid #ddd;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	-webkit-box-shadow:0 4px 12px rgba(0,0,0,0.08);
	-moz-box-shadow:0 4px 12px rgba(0,0,0,0.08);
	box-shadow:0 4px 12px rgba(0,0,0,0.08)
}
table {
	width:100%;
	border-collapse:collapse
}
table td,table th {
	padding:10px 10px;
	border-right:1px solid #ddd;
	border-bottom:1px solid #ddd
}
table th {
	color:#999;
	font-weight:bold;
	text-shadow:0 1px 0#fff;
	background-color:#f3f3f3;
	-webkit-box-shadow:inset 0 1px 0 #fff;
	-moz-box-shadow:inset 0 1px 0 #fff;
	box-shadow:inset 0 1px 0 #fff
}
table tr td:last-child,table tr th:last-child {
	border-right:0
}
table tr:last-child td {
	border-bottom:0
}
table tr:hover {
	background-color:#f3f3f3
}
table tr.pricing td {
	padding:20px 0 10px 0;
	border-bottom:1px dashed #ddd
}
table tr.pricing td strong {
	font-size:34px
}
table tr.pricing td span {
	color:#999
}
table .colorButton {
	margin:0 10px
}

input[type="text"], input[type="password"], select, textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #333333;
    font: 13px "Droid Sans","Helvetica Neue",Helvetica,sans-serif;
    padding: 9px;
}
input[type="password"] {
    font: 13px "Helvetica Neue",Helvetica,sans-serif;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: #BBBBBB;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
/* ***************** COMMONS FORMS ELEMENT STYLES ******************* */
form label {
	display: block;
	font-weight: 700;
	padding: 0 0 3px;
}

form p small {
	font-size: .75em;
	color: #777;
}

form input.text-input,form select,form textarea,form .wysiwyg {
	font-size: 13px;
	border: 1px solid #d5d5d5;
	color: #333;
}

form .small-input {
	width: 25% !important;
	font-size: 16px !important;
	padding: 8px !important;
}

form .medium-input {
	width: 50% !important;
	padding: 9px;
}

form .large-input {
	width: 90% !important;
	font-size: 16px !important;
	padding: 8px !important;
}

form textarea {
	width: 94.5% !important;
	font-family: Arial, Helvetica, sans-serif;
	padding: 10px;
}

form select {
	background: #fff;
	padding: 4px;
}

form input[type="checkbox"],form input[type="radio"] {
	background: none;
	border: 0;
	padding: 0;
}

.required-icon {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(/skins/default/base/images/commons/required.png)
		no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
	margin-left: -20px;
	overflow: hidden;
	position: relative;
	text-indent: -9000px;
	top: -4px;
	vertical-align: top;
	width: 15px;
}