@CHARSET "UTF-8";

fieldset {
	border: 1px solid #DDDDDD;
	padding: 25px;
	background-color: #f7f8f9;
	margin-bottom: 15px;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px solid #DDDDDD;
	color: #000;
	text-align: right;
	background-color: #f7f8f9;
}

#page h2 {
	font-size: 20px;
}

#header {
	height: 50px;
	padding: 15px;
	background-color: #eee;
	margin-bottom: 50px;
}

#chkdbresult {
	color: #000000;
	font-weight: bold;
	padding-bottom: 15px;
	padding-top: 15px;
}

#content {
	width: 800px;
	margin: 0 auto;
}

.ui-widget-content {
	width: 200px !important;
}

.submit {
	margin-top: 2 0px;
	text-align: right;
}

#agreement {
	margin-bottom: 20px
}

form .large-input {
	width: 97% !important
}

.inputitem {
	margin-bottom: 10px;
}

.inputerror {
	border-color: #df8f8f!important;
	color: #ff0000!important;
}

.errors {
	color: #ff0000;
	margin-top: 5px;
}

/* ***************** STANDARD BUTTONS ******************* */
.green-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
	box-shadow: inset 0px 1px 0px 0px #caefab;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a
		), color-stop(1, #5cb811) );
	background: -moz-linear-gradient(center top, #77d42a 5%, #5cb811 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a',
		endColorstr='#5cb811' );
	background-color: #77d42a;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #268a16;
	display: inline-block;
	color: #fff !important;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
}

.green-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811
		), color-stop(1, #77d42a) );
	background: -moz-linear-gradient(center top, #5cb811 5%, #77d42a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811',
		endColorstr='#77d42a' );
	background-color: #5cb811;
}

.green-button:active {
	position: relative;
	top: 1px;
}

.red-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
	box-shadow: inset 0px 1px 0px 0px #f29c93;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00
		), color-stop(1, #ce0100) );
	background: -moz-linear-gradient(center top, #fe1a00 5%, #ce0100 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00',
		endColorstr='#ce0100' );
	background-color: #fe1a00;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d83526;
	display: inline-block;
	color: #ffffff !important;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #b23e35;
}

.red-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100
		), color-stop(1, #fe1a00) );
	background: -moz-linear-gradient(center top, #ce0100 5%, #fe1a00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100',
		endColorstr='#fe1a00' );
	background-color: #ce0100;
}

.red-button:active {
	position: relative;
	top: 1px;
}

.blue-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	box-shadow: inset 0px 1px 0px 0px #bbdaf7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff
		), color-stop(1, #378de5) );
	background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff',
		endColorstr='#378de5' );
	background-color: #79bbff;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #84bbf3;
	display: inline-block;
	color: #ffffff !important;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 5px #528ecc;
}

.blue-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5
		), color-stop(1, #79bbff) );
	background: -moz-linear-gradient(center top, #378de5 5%, #79bbff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5',
		endColorstr='#79bbff' );
	background-color: #378de5;
}

.blue-button:active {
	position: relative;
	top: 1px;
}

.orange-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow: inset 0px 1px 0px 0px #fed897;
	box-shadow: inset 0px 1px 0px 0px #fed897;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6b33d
		), color-stop(1, #d29105) );
	background: -moz-linear-gradient(center top, #f6b33d 5%, #d29105 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d',
		endColorstr='#d29105' );
	background-color: #f6b33d;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #eda933;
	display: inline-block;
	color: #ffffff !important;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #cd8a15;
}

.orange-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d29105
		), color-stop(1, #f6b33d) );
	background: -moz-linear-gradient(center top, #d29105 5%, #f6b33d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105',
		endColorstr='#f6b33d' );
	background-color: #d29105;
}

.orange-button:active {
	position: relative;
	top: 1px;
}

.grey-button {
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
	box-shadow: inset 0px 1px 0px 0px #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9
		), color-stop(1, #e9e9e9) );
	background: -moz-linear-gradient(center top, #f9f9f9 5%, #e9e9e9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9',
		endColorstr='#e9e9e9' );
	background-color: #f9f9f9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	color: #fff !important;
	font-family: arial;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
}

.grey-button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9
		), color-stop(1, #f9f9f9) );
	background: -moz-linear-gradient(center top, #e9e9e9 5%, #f9f9f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9',
		endColorstr='#f9f9f9' );
	background-color: #e9e9e9;
}

.grey-button:active {
	position: relative;
	top: 1px;
}

/* ***************** NOTIFICATIONS ******************* */
.notification {
	background-position: 8px 9px !important;
	background-repeat: no-repeat !important;
	border: 1px solid;
	font-size: 13px;
	position: relative;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	margin: 40px 0 30px;
	padding: 10px 5px 6px 29px;
}

.error {
	background: #ffcece
		url(/skins/default/new/images/commons/cross_circle.png);
	color: #665252;
	border-color: #df8f8f;
}

.notification div {
	display: block;
	font-style: normal;
	line-height: 1.5em;
	padding: 10px 10px 10px 36px;
}

.notification .close {
	color: #900;
	font-size: 9px;
	position: absolute;
	right: 5px;
	top: 5px;
}

.publicbutton{
	float:right;
}