form label {
	display: block;
	padding: 0 0 3px;
	font-weight: 700;
	color: #555;
}

form fieldset legend {
	font-weight: 700;
	margin-bottom: 10px;
	padding-top: 10px;
}

form p small {
	font-size: .75em;
	color: #777;
}

form input.text-input,form select,form textarea,form .wysiwyg {
	font-size: 13px;
	border: 1px solid #d5d5d5;
	color: #333;
	padding: 6px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

form .small-input {
	width: 25% !important;
}

form .medium-input {
	width: 50% !important;
	font-size: 16px !important;
	padding: 8px !important;
}

form .large-input {
	width: 90% !important;
	font-size: 16px !important;
	padding: 8px !important;
}

form textarea {
	width: 97.5% !important;
	font-family: Arial, Helvetica, sans-serif;
}

form select {
	background: #fff;
	padding: 4px;
}

form input[type="checkbox"],form input[type="radio"] {
	background: none;
	border: 0;
	padding: 0;
}

.inputitem {
	margin-top: 5px;
	margin-bottom: 20px;
}

.column-left {
	width: 48%;
	float: left;
}

.column-right {
	width: 48%;
	float: right;
}

.column-left-little {
	width: 10%;
	float: left;
}

.column-right-little {
	width: 10%;
	float: right;
}

.column-left-large {
	width: 80%;
	float: left;
}

.column-right-large {
	width: 80%;
	float: right;
}

.required-icon {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(/skins/admin/base/images/required.png)
		no-repeat scroll 0 0;
	display: inline-block;
	height: 20px;
	margin-left: -20px;
	overflow: hidden;
	position: relative;
	text-indent: -9000px;
	top: -4px;
	vertical-align: top;
	width: 15px;
}

.headsection {
  margin-left: 45px;
	margin-top: 8px;
}

.sectionheader {
	border-bottom: 2px solid #DDDDDD;
	height: 50px;
	-webkit-box-shadow: 0 4px 4px -2px #eee;
   	-moz-box-shadow: 0 4px 4px -2px #eee;
    box-shadow: 0 4px 4px -2px #eee;
	background: url("/skins/admin/base/images/icons_dark/19-gear.png") no-repeat scroll 9px 11px #eee;
}

.headtitle {
	font-size: 16px;
}

.overtop{
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.registeraction {
	margin-bottom: 10px;
}

.errors ul {
	list-style: none;
}

.errors ul li {
	padding: 10px 0px;
	color: red;
}

.gravatar-canvas {
	margin-top: 10px;
}

ul.addresses {
	list-style: none;
	margin-top: 15px;
}

ul.addresses li {
	margin-bottom: 35px;
}

ul.addresses h2 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 7px;
	text-transform: uppercase;
}

.pdetails td {
    background-color: #EEEEEE;
    padding: 10px;
}


/* ***************** STATUS ITEMS ******************* */
#breadcrumb-status {
	background: #eee;
	border-width: 1px;
	border-style: solid;
	border-color: #f5f5f5 #e5e5e5 #ccc;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	/* Clear floats */
	overflow: hidden;
	width: 100%;
}

#breadcrumb-status li {
	float: left;
}

#breadcrumb-status a {
	padding: .7em 1em .7em 2em;
	float: left;
	text-decoration: none;
	color: #000 !important;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background-color: #ddd;
	background-image: -webkit-gradient(linear, left top, right bottom, from(#f5f5f5),
		to(#ddd) );
	background-image: -webkit-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -moz-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -ms-linear-gradient(left, #f5f5f5, #ddd);
	background-image: -o-linear-gradient(left, #f5f5f5, #ddd);
	background-image: linear-gradient(to right, #f5f5f5, #ddd);
}

#breadcrumb-status li:first-child a {
	padding-left: 1em;
	-moz-border-radius: 5px 0 0 5px;
	-webkit-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#breadcrumb-status a:hover {
	background: #fff;
}

#breadcrumb-status a::after,#breadcrumb-status a::before {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: -1.5em;
	border-top: 1.5em solid transparent;
	border-bottom: 1.5em solid transparent;
	border-left: 1em solid;
	right: -1em;
}

#breadcrumb-status a::after {
	z-index: 2;
	border-left-color: #ddd;
}

#breadcrumb-status a::before {
	border-left-color: #ccc;
	right: -1.1em;
	z-index: 1;
}

#breadcrumb-status a:hover::after {
	border-left-color: #fff;
}

#breadcrumb-status .current,#breadcrumb-status .current:hover {
	font-weight: bold;
	background: none;
}

#breadcrumb-status .current::after,#breadcrumb-status .current::before {
	content: normal;
}