h1{
	font-size: 22px;
}
h2{
	font-size: 18px;
}
h3{
	font-size: 16px;
}
h4{
	font-size: 14px;
}

#dashboard {
	clear: both
}

.fastcontainer{
	text-align: right;
	padding-right: 6px;
}
#fastwidget {
	font-size: 13px;
    margin-top: 11px;
    padding: 1px;
    width: 90% ;
}

.emailpreview .content{
	margin: 20px auto;
	width: 800px;
}

.emailpreview .header{
	background-color: #eee;
	padding: 5px;
}

.emailpreview .body{
	margin-top: 10px;
	padding: 5px;
}


/* End Columns section */
table.gridsimple {
	padding-top: 5px;
	margin-bottom: 10px;
}

table.gridsimple thead tr td {
	background-color: #666666;
	border-bottom: 1px solid #000000;
	color: #EEEEEE;
}

table.gridsimple tr td {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	font-size: 10px;
}

.toggle {
	margin-top: 10px;
	margin-bottom: 40px;
	display: block;
}

.message {
	margin-left: 84px;
}

#bbslist {
	margin-top: 10px;
	width: 900px;
}

#bbslist td div.gravatar {
	float: left;
	margin-right: 10px;
}

#bbslist td div.author {
	float: left;
	margin-right: 10px;
	font-weight: bold;
}

#bbslist td div.postdate {
	font-size: 10px;
	float: right;
	color: #666;
}

#bbslist td div.message-body {
	clear: right;
	margin-left: 71px;
	padding-top: 10px;
}

#bbslist td div.message-body ul, #bbslist td div.message-body ol {
	list-style-position: inside;
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-top: 10px;
}

#bbslist td {
	line-height: 18px;
	padding: 17px;
}