#login-box h1{
	margin-top: 10px;
	font-weight: 400;
	font-size: 30px;
	color: #393939;
	text-shadow: 0 1px 1px #AAAAAA;
	margin-bottom: 5px;
}

#login-box .getpassword{
	line-height: 50px;
    text-align: right;
}

.rememberme label{
	float: left;
	margin-right: 5px;
	line-height: 22px;
}

.loginframe{
	margin:0 auto;
    width: 450px;
    height:450px;
}

#login-content .notification {
	border: 0;
	background-color: #141414;
	color: #fff !important;
	margin: 10px auto;
	width: 450px
}

.loginback {
	color: #fff;
	background: #222 url(/skins/admin/base/images/bg-login.gif);
}

#login-top {
	width: 100%;
	text-align: center;
	padding: 140px 0 50px;
}

#login-bottom {
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

#chkdomain {
	display: block;
	margin-bottom: 17px;
}

#login-box {
	margin: 0 auto;
	padding: 20px;
	text-align: left;
	width: 450px;
}

#login-content {
	margin: 0 auto;
}

#login-content label {
	color: #666;
	font-weight: 400;
	font-family: Helvetica, Arial, sans-serif;
	padding: 0;
	margin-bottom: 5px;
}

#login-content p {
	padding: 0;
}

#login-content p#remember-password input {
	float: none;
	width: auto;
	border: 0;
	background: none;
	margin: 0 10px 0 0;
}

#login-content p .button {
	width: auto;
	margin-top: 20px;
}