.navigation a {
	border-bottom: 1px solid #ddd;
	color: #333;
	display: block;
	padding: 10px 20px 10px 30px;
	position: relative;
	text-decoration: none;
	/*
		Work around for iScroll.js
		Forces <a> without href="#"
		to retain the hover state.
	*/
	cursor: pointer;
}

.navigation .active>a {
	background: #035de7 url(/skins/admin/base/images/ui/menu_active_a.png)
		repeat-x;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #058cf7),
		color-stop(1, #035de7) );
	background: -moz-linear-gradient(top center, #058cf7 0%, #035de7 100%);
	color: #fff;
}

.navigation ul ul{
	display: none;
}

.navigation ul li.active ul{
	display: block;
}

.navigation .expanded > a {
	background: #eee url(/skins/admin/base/images/ui/menu_expanded.png)
		repeat-x left bottom;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eee),
		color-stop(1, #fff) );
	background: -moz-linear-gradient(top center, #eee 0%, #fff 100%);
	color: #000;
	text-shadow: #fff 0 1px 0;
}

.navigation_home .abs,.navigation .toggle_arrow {
	font-size: 0;
	overflow: hidden;
	left: 10px;
	width: 13px;
	height: 14px;
}

.navigation_home .abs {
	background: url(/skins/admin/base/images/ui/menu_home.png) no-repeat;
	top: 12px;
}

.navigation .toggle_arrow {
	background: url(/skins/admin/base/images/ui/toggle_arrow.png) no-repeat;
	top: 13px;
}

.navigation_home.active .abs,.navigation .expanded>a .toggle_arrow {
	background-position: 0 -14px;
}

.navigation .showall {
	background-color: #e0f0ff;
}