.ticket {
    margin-bottom: 15px;
    margin-top: 10px;
    min-height: 55px;
    padding: 12px 35px 5px 15px;
    text-align: justify;
}

.ticket_description {
	border-bottom: 1px solid #EEEEEE;
    margin-left: 65px;
    min-height: 40px;
}

.options {
	background-color: #EEEEEE;
    min-height: 70px;
    padding-left: 10px;
	margin-left: 15px;
}

.ticket_owner {
	margin-left: 65px;
}

.note_owner {
	margin-left: 65px;
}

.description {
	margin-top: 5px;
	margin-bottom: 15px;
}

.notes {
	margin-left: 82px;
}

.note {
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 15px;
	min-height: 65px;
}

.attachments {
	margin-left: 15px;
}

.options .inputitem {
	float: left;
	margin-right: 15px;
}

.relationship {
	margin-left: 15px;
	margin-top: 10px;
}

.attachments ul {
	margin-left: 20px;
	margin-top: 10px;
}

.attachments ul li {
	margin-left: 5px;
}

.attachments ul li.pdf {
	list-style-image: url(/resources/images/extensions/pdf.png);
}

.attachments ul li.doc {
	list-style-image: url(/resources/images/extensions/doc.png);
}

.attachments ul li.zip {
	list-style-image: url(/resources/images/extensions/zip.png);
}

.avatar {
	float: left;
}