/* ------ GENERAL -------- */
body {
	padding-top: 53px;
}

.col-centered {
	float: none;
	margin: 0 auto;
}

/* ------ MEDIA -------- */

.media-list div.media-body{
    margin-left: 80px;
}

.media-list li.media{
	border-bottom: 1px solid #EEEEEE;
    padding: 20px;
}

.media-list .media-heading{
    margin-bottom: 8px;
}


/* ------ COMMONS -------- */

.dropdown-cart{
	width: 250px;
}

.navbar-nav-right{
	float:right;
}

.dropdown-gotocart{
	background-color: #eeeeee;
	padding: 5px;
}

.copyright-wrapper {
	background-color: #eee;
	padding-top: 10px;
}

#footer {
	margin-bottom: 0px;
    margin-top: 40px;
    padding-top: 20px;
}

/* ------ CATEGORIES -------- */
.category-item {
	margin-bottom: 20px;
}

.badge {
	background-color: #EEEEEE;
	color: #888888;
	font-weight: normal;
	margin-bottom: 10px;
	padding: 7px !important;
}

/* ------ PRODUCTS -------- */
.prices {
	margin-top: 25px;
}

.priceincludedvat {
	font-size: 20px;
}

.pricenotincludedvat {
	font-size: 14px;
}

.subscription {
	font-size: 14px;
}

/* ------ CONTROL PANEL -------- */
.table .pagination{
	margin-top: 10px;
	margin-bottom: 0px;
}

.media{margin-bottom: 20px}

/* ------ HOMEPAGE -------- */







/* ------ MEDIA -------- */

@media(max-width:1024px){
    #footer {height: auto}
}

@media(max-width:640px){
	.prices { margin-top: 0px; background-color: #eee; padding: 5px;}
    #footer ul li{display: inline-block; padding-left: 5px; padding-right: 5px;}
    #footer {height: auto}
}

@media(max-width:767px){
	.navbar-nav-right {float: none;}
    .navbar-form {margin-right:5px;margin-left:5px;}
}